@keyframes spin-once {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-once {
  animation: spin-once 0.6s linear;
  display: inline-block;
  transform-origin: 50% 50%;
}
